= form_for @cluster, url: user_namespace_project_clusters_path(@project.namespace, @project), as: :cluster do |field|
  = form_errors(@cluster)
  .form-group
    = field.label :name, s_('ClusterIntegration|Cluster name')
    = field.text_field :name, class: 'form-control', placeholder: s_('ClusterIntegration|Cluster name')

  .form-group
    = field.label :environment_scope, s_('ClusterIntegration|Environment scope')
    = field.text_field :environment_scope, class: 'form-control', readonly: !has_multiple_clusters?(@project), placeholder: s_('ClusterIntegration|Environment scope')

  = field.fields_for :platform_kubernetes, @cluster.platform_kubernetes do |platform_kubernetes_field|
    .form-group
      = platform_kubernetes_field.label :api_url, s_('ClusterIntegration|API URL')
      = platform_kubernetes_field.text_field :api_url, class: 'form-control', placeholder: s_('ClusterIntegration|API URL')

    .form-group
      = platform_kubernetes_field.label :ca_cert, s_('ClusterIntegration|CA Certificate')
      = platform_kubernetes_field.text_area :ca_cert, class: 'form-control', placeholder: s_('ClusterIntegration|Certificate Authority bundle (PEM format)')

    .form-group
      = platform_kubernetes_field.label :token, s_('ClusterIntegration|Token')
      = platform_kubernetes_field.text_field :token, class: 'form-control', placeholder: s_('ClusterIntegration|Service token'), autocomplete: 'off'

    .form-group
      = platform_kubernetes_field.label :namespace, s_('ClusterIntegration|Project namespace (optional, unique)')
      = platform_kubernetes_field.text_field :namespace, class: 'form-control', placeholder: s_('ClusterIntegration|Project namespace')

    .form-group
      = field.submit s_('ClusterIntegration|Add cluster'), class: 'btn btn-success'
